{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cronjobschedule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cronjobSchedule.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ cronjobSchedule.status }}</td>
            </tr>
            <tr>
                <th>Startedat</th>
                <td>{% if cronjobSchedule.startedAt %}{{ cronjobSchedule.startedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endedat</th>
                <td>{% if cronjobSchedule.endedAt %}{{ cronjobSchedule.endedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if cronjobSchedule.createdAt %}{{ cronjobSchedule.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if cronjobSchedule.updatedAt %}{{ cronjobSchedule.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cronjobschedule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cronjobschedule_edit', { 'id': cronjobSchedule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
